{% extends "layout.html" %}

{% block title %}
    Athletes
{% endblock %}

{% block main %}
<div class="jumbotron text-center">
  <h2>Athletes</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Graduation Year</th>
    </tr>
  </thead>
  <form action="{{ url_for('athleteindex') }}" method="post">
  <tbody>
    {% for row in rows %}
    <tr>
      <td class = "c1"><button type="submit" name="athlete" value="{{row["ath_ID"]}}" type="submit" class="btn btn-primary">{{row['Fname']}} {{row['Lname']}}</button></td>
      <td class = "c2">{{row['Gradyear']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
