{% extends "layout.html" %}

{% block title %}
    Coaches
{% endblock %}

{% block main %}
<head>
<style>body{margin: 0; padding: 0;color:red;background:#696969 url('/static/images/bg.jpg') fixed right no-repeat;}a{color:#212121;}font{color:#212121;}</style>
</head>
<body>
<div style="position:fixed;width100%;top:0;bottom:auto;"><table style="position:fixed;" width=100% border=0 cellpadding=10 cellspacing=0><tr  style="vertical-align:middle" bgcolor="#757575" height=100><td  style="vertical-align:middle"><a href="{{ url_for('index')}}"><img src="/static/images/home.png" width=150 height=150 ></a></td><td style="vertical-align:middle" style="vertical-align:middle"><font size="+20" style="font-family:verdana;color:#eeeeee"><b>Coaches</b></font></td></tr></table>
</div>
<div style="margin-top:170px">
<center>
<form action="{{ url_for('coachletters') }}" method="post">
<table width=80% cellspacing=75>
	<tr>
		<td Width=16% ><button name="letter" type="submit" value='A'><font size=+9>A</font></button></td>
		<td Width=16% ><button name="letter" type="submit" value='B'><font size=+9>B</font></button></td>
		<td Width=16% ><button name="letter" type="submit" value='C'><font size=+9>C</font></button></td>
		<td Width=16% ><button name="letter" type="submit" value='D'><font size=+9>D</font></button></td>
		<td Width=16% ><button name="letter" type="submit" value='E'><font size=+9>E</font></button></td>
		<td Width=16% ><button name="letter" type="submit" value='F'><font size=+9>F</font></button></td>
		<td Width=16% ><button name="letter" type="submit" value='G'><font size=+9>G</font></button></td>
	</tr>
	<tr>
		<td><button name="letter" type="submit" value='H'><font size=+9>H</font></button></td>
		<td><button name="letter" type="submit" value='I'><font size=+9>I</font></button></td>
		<td><button name="letter" type="submit" value='J'><font size=+9>J</font></button></td>
		<td><button name="letter" type="submit" value='K'><font size=+9>K</font></button></td>
		<td><button name="letter" type="submit" value='L'><font size=+9>L</font></button></td>
		<td><button name="letter" type="submit" value='M'><font size=+9>M</font></button></td>
		<td><button name="letter" type="submit" value='N'><font size=+9>N</font></button></td>
	</tr>
	<tr>
		<td> &nbsp; </td>
		<td><button name="letter" type="submit" value='O'><font size=+9>O</font></button></td>
		<td><button name="letter" type="submit" value='P'><font size=+9>P</font></button></td>
    <td><button name="letter" type="submit" value='Q'><font size=+9>T</font></button></td>
		<td><button name="letter" type="submit" value='R'><font size=+9>R</font></button></td>
		<td><button name="letter" type="submit" value='S'><font size=+9>S</font></button></td>
		<td><button name="letter" type="submit" value='T'><font size=+9>T</font></button></td>
		<td> &nbsp; </td>
	</tr>
	<tr>
		<td> &nbsp; </td>
    <td><button name="letter" type="submit" value='U'><font size=+9>T</font></button></td>
		<td><button name="letter" type="submit" value='V'><font size=+9>V</font></button></td>
		<td><button name="letter" type="submit" value='W'><font size=+9>W</font></button></td>
    <td><button name="letter" type="submit" value='X'><font size=+9>T</font></button></td>
		<td><button name="letter" type="submit" value='Y'><font size=+9>Y</font></button></td>
		<td><button name="letter" type="submit" value='Z'><font size=+9>Z</font></button></td>
	</tr>
</table>
</form>
</center>
</div>
</body>
{% endblock %}
