{% extends "layout.html" %}

{% block title %}
    Coaches
{% endblock %}

{% block main %}
<div class="jumbotron text-center">
  <h2>Coaches</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <form action="{{ url_for('coachindex') }}" method="post">
  <tbody>
    {% for row in rows %}
    <tr>
      <td class = "c1"><button type="submit" name="coach" value="{{row["coach_ID"]}}" type="submit" class="btn btn-primary">{{row['Fname']}} {{row['Lname']}}</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
