{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<body>
<center>
<img src="/static/images/mainscreen.jpg" usemap="#image-map">
<map name="image-map">
    <area target="" alt="Sport" title="Sport" href="{{url_for('sportindex')}}" coords="864,527,2,1" shape="rect">
    <area target="" alt="coach" title="coach" href="{{url_for('coachletters')}}" coords="1,539,853,1039" shape="rect">
    <area target="" alt="GradYear" title="GradYear" href="{{url_for('yearindex')}}" coords="910,506,1799,6" shape="rect">
    <area target="" alt="LastName" title="LastName" href="{{url_for('athleteletters')}}" coords="891,538,1793,1031" shape="rect">
</map>
</center>
</body>
{% endblock %}
