{% extends "layout.html" %}

{% block title %}
    Sports
{% endblock %}

{% block main %}
<div class="jumbotron text-center">
  <h2>Sports</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Sport</th>
    </tr>
  </thead>
  <form action="{{ url_for('sportindex') }}" method="post">
  <tbody>
    {% for row in rows %}
    <tr>
      <td class = "c1"><button type="submit" name="sport" value="{{row["sport_ID"]}}" type="submit" class="btn btn-primary">{{row['sport_name']}}</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
